<aside class="author">
  <img class="profile-image" src="{{ .Site.Params.avatar | absURL }}" alt="{{ .Site.Params.site_author }}" />
  <p class="name">{{ .Site.Data.l10n.author.by }} 
  <strong>{{ .Site.Params.site_author }}</strong></p>
  <p class="address">{{ .Site.Params.location }}</p>
  <p class="link"></p>
  <ul class="social">
    {{ partial "social" . }}
  </ul>
  <br><br>
  <p class="link"><a href="https://notmet.net">Homepage</a></p>
  <p class="link"><a href="/categories/">Categories</a></p>
  <p class="link"><a href="/tags/">Tags</a></p>
  <p class="link"><a href="/archive/">Archive</a></p>
</aside>
